{% extends "base.html" %}
{% load static %}
{% block banner %}
<header>
    <div class="banner-container">
        <img class="banner-img" style="display: block; margin: 0 auto;" src="{% static 'banner/banner_img03.jpg' %}" alt="배너 이미지">
    </div>
</header>
{% endblock %}
{% block content %}
<!-- 로그인 페이지 컨테이너 시작 -->
<div class="mt-4 login-container ">
    <div class="row">
        <div class="col-12 text-center">
            <!-- 회원가입 안내 링크. 계정이 없을 경우 회원가입 페이지로 이동 -->
            <p class="px-auto" style="font-size:50px;" >당신의 한표!</p>
            <p class="px-auto" style="font-size:50px;" >로그인 후 모든 기능 무료로 즐겨보세요!</p>
            <div>
                <p class="px-auto" style="font-size:20px; font-weight:bold;" >아직 계정이 없으신가요?
                    <a class="hover" style="font-size:20px; font-weight:bold;" href="{% url 'common:signup' %}">회원가입하러 가기</a>
                </p>

            </div>
        </div>
    </div>
    <hr>
    <div class="row my-5 justify-content-center ">
        <div>
            <!-- 로그인 제목 -->
            <h4 id="label_login">LOGIN</h4>
        </div>
    </div>
    <div class="login_wrap">
        <form method="post" action="{% url 'common:login' %}"> <!-- 로그인 폼 시작, POST 요청으로 로그인 처리 -->
            {% csrf_token %}  <!-- CSRF 보안을 위한 토큰 -->
            <!-- 로그인 성공 후 이동할 URL, 'next' 파라미터가 있을 경우 해당 페이지로 이동 -->
            <input type="hidden" name="next" value="{{ next }}">

            <!-- 폼 입력 중 발생한 오류 메시지를 출력하는 템플릿 포함 -->
            {% include "form_errors.html" %}

            <!-- 사용자 ID 입력 필드 -->
            <div class="mb-3">
                <input type="text" class="form-control" name="username" id="username" placeholder="아이디 또는 이메일주소"
                       value="{{ form.username.value|default_if_none:'' }}">
            </div>

            <!-- 비밀번호 입력 필드 -->
            <div class="mb-3">
                <input type="password" class="form-control" name="password" id="password" placeholder="비밀번호"
                       value="{{ form.password.value|default_if_none:'' }}">
            </div>

            <!-- 로그인 버튼 -->
            <div class="login-container">
                <button class="btn btn-login" type="submit" >로그인</button>
            </div>
        </form>
    </div>
</div>
<!-- 로그인 페이지 컨테이너 끝 -->
{% endblock %}
